/* --------------------------
  Base Styles
--------------------------- */

/* FONTS ---------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');

/* VARIABLES ---------------------------------------- */

:root {
    --color-primary: #536878;
    --color-secondary: #838383;
    --btn-primary: #4ee44e;
    --color-white: #fff;
    --color-black: #000;

    --font-stack-primary: 'Nunito', sans-serif;

    --max-width: 1000px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* This defines what 1rem is | 1 rem = 10px; 10px/16px = 62.5% */
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    color: var()var(--color-black); 
    margin: 0;
    font-family: var(--font-stack-primary);
    line-height: 1.2;
    font-size: 1.4em;
}

.header {
    padding: 2rem 0;
    background-color: var(--color-primary);
    color: var(--color-white);
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.main {
    width: 90%;
    margin: 0 auto;
}

.btn {
    color: var(--color-white);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: .75em 1.5em;
}

/* Signup Section */
.signup {
    padding: 3rem 0;
    text-align: center;
}

.signup p {
    font-weight: 300;
}


